node_modules/
dist/
.env
*.local
.DS_Store
PLAN.md
references/
techdebt.md
summary.md
todo.md
android/.idea/
ios/*.xcworkspace
ios/Pods/
*.apk
*.aab
android/gradle.properties
android/app/release-key.keystore

PROPOSAL.md
.kiro